<p class="alert alert-success" role="alert"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dmsf_analytic_type.name %>
</p>

<%= link_to 'Edit', edit_dmsf_analytic_type_path(@dmsf_analytic_type) %> |
<%= link_to 'Back', dmsf_analytic_types_path %>
