<h1><%=t '.title' %> #<%= @dmsf_document_definition.id %></h1>

<%= render 'form', dmsf_document_definition: @dmsf_document_definition %>

<%= link_to t('shared.back'), dmsf_document_definitions_path %>
