<div class="jumbotron">
  <h1>АРМ <small>Автоматизация бухгалтерского учета<small></h1>
  <p>Курсовой проект "Базы и банки данных"</p>
  <p><a class="btn btn-default btn-lg" href="#" role="button">Перейти в зону администрирования</a></p>
</div>
